:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-color: #81b3d2;
  --special-dark-color: #333333;
  --special-light-color: #f2f2f2;
  --basic-light-color: #669ec0;
  --basic-dark-color: #5496bd;
  --dark-color: #604e43;
  --dark-dark-color: #503e33;
  --special-color: #a9a9a9;

}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(fonts/ptsans.woff2) format(woff2),
       url(fonts/ptsans.woff) format(woff),
       url(fonts/ptsansbold.woff2) format(woff2),
       url(fonts/ptsansbold.woff) format(woff);
       font-weight: normal;
       font-style: normal;
}

.page {
  height: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  gap: 0;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--special-dark-color);
  background-color: var(--special-light-color);
}

a {
  text-decoration: none;
}

.user-nav,
.icon-link-list,
.filter-form ul,
.features-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

button,
input {
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-nav {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
  background-color: var(--basic-white);
}

.logo {
  position: absolute;
  float: left;
  width: 138px;
  min-height: 70px;
  margin-left: 531px;
}

.user-nav {
  display: flex;
  justify-content: space-around;
  width: 1054px;
  margin-left: auto;
  margin-right: auto;
}

.user-nav-item-link {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.user-nav-item-link:hover{
  color: var(--basic-color);
}

.user-nav-item-link:active{
  color: rgba(0, 0, 0, 0.3);
}

.active-link .user-nav-item-link{
  color: #766357;
}

.welcome-section {
  width: 100%;
  height: 509px;
  background-color: var(--dark-dark-color);
  background-image: url(img/welcome_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 77px;
}

.welcome {
  display: block;
  width: 457px;
  height: 351px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.welcome-figure {
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(img/figure.svg);
  background-repeat: no-repeat;
}

.features h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
  width: 470px;
  margin-left: auto;
  margin-right: auto;
}

.features-paragraph {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: normal;
  color: var(--special-dark-color);
}

.features-list span {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: normal;
  color: var(--special-dark-color);
}

.special-feature {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--basic-color);
}

.special-feature .title-in-list,
.special-feature .paragraph-in-list {
  color: var(--basic-white);
}

.special-feature-item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 47px 51px 54px 52px;
}

.icon-link-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.normal {
  dislpay: inline-block;
  width: 400px;
  float: left;
  background-color: #eeeeee;
}

.icon-housing,
.icon-food,
.icon-souvenirs {
  margin-left: auto;
  margin-right: auto;
}

.icon-housing {
  width: 75px;
  height: 72px;
  background-image: url(img/housing.svg);
  background-repeat: no-repeat;
}

.icon-food {
  width: 75px;
  height: 70px;
  background-image: url(img/food.svg);
  background-repeat: no-repeat;
}

.icon-souvenirs {
  width: 64px;
  height: 77px;
  background-image: url(img/souvenirs.svg);
  background-repeat: no-repeat;
}

h2 {
  font-size: 30px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
}

.search-of-hotel p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color: var(--special-dark-color);
}

.search-of-hotel-button {
  display: block;
  width: 568px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: #766357;
}

.search-form {
  display: none;
  width: 568px;
  height: 395px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--basic-white);
}

.search-form,
.search-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-form input {
  background-color: var(--special-light-color);
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid #e5e5e5;
}

.search-form input[type=text] {
  width: 346px;
  height: 38px;
}

.search-form input[type=number] {
  width: 114px;
  height: 38px;
}

.calendar-button:hover {

}

.calendar-button:active {

}

.minus:hover {

}

.minus:active {

}

.plus:hover {

}

.plus:active {

}

.search-form-button {
  width: 458px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-color);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer .container {
  height: 120px;
  background-color: rgba(255,255,255,0.9);
}

.contacts span,
.contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.social-network a {
  width: 46px;
  height: 48px;
  background-color: var(--basic-color);
}

.developers {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
}

.developers a {
  width: 115px;
  height: 41px;
}

.filter-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1200px;
  height: 217px;
  background-image: url(img/filter_background.jpg);
  background-repeat: no-repeat;
}

.fieldsets {
  display: flex;
  padding: 10px;
}

.filter-form fieldset {
  border: 0;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.filter-form input[type=checkbox] {

}

.filter-form label {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-white);
}

.cost {
  display: flex;
  width: 313px;
  height: 32px;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.min-cost,
.max-cost {
  height: 36px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
}

.filter-form input[type=text]:first-child {
  width: 159px;
}

.filter-form input[type=text]:last-child {
  width: 156px;
}

.slider {
  width: 316px;
  height: 21px;
}

.total-line {
  display: block;
  width: 316px;
  height: 2px;
  background-color: rgb(255, 255, 255, 0.3);
}

.active-line {
  display: block;
  width: 248px;
  height: 2px;
  background-color: var(--basic-white);
  margin-left: 14px;
}

.round-slider {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid var(--basic-white);
}

.right-slider {
  margin-left: 252px;
}

.filter-form button {
  display: block;
  width: 135px;
  height: 34px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.results {
  display: flex;
}

.founded {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.sort-method,
.sort-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-method {
  color: var(--basic-black);
}

.sort-method-list {
  display: flex;
  list-style: none;
}

.sort-button {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  border-bottom: 1px dashed var(--basic-color);
}

.sort-button-active {
  color: var(--basic-color);
  background-color: transparent;
  border: 0;
}

.sort-button:hover{
  color: var(--basic-color);
}

.sort-button:active {
  color: var(--basic-black);
  border: 0;
}

.up-down {
  align-self: end;
}

.up-down button {
  background-color: transparent;
}

.descriptions-of-hotels {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  border-top: 1px solid #e5e5e5;
}

.descriptions-of-hotels:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.descriptions-of-hotels-item {
  display: flexbox;
}

.descriptions-of-hotels img {
  width: 135px;
  height: 90px;
}

.descriptions-of-hotels h3 {
  display: block;
}

.name-of-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.name-of-hotel:hover {
  color: var(--basic-color);
}

.name-of-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.descriptions-of-hotels span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--special-dark-color);
}

.detail,
.booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.detail {
  display: block;
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-color);
  border: 0;
}

.booking {
  display: block;
  width: 142px;
  height: 27px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: #766357;
}

.detail:hover,
.search-form-button:hover,
.social-network-link:hover {
  background-color: var(--basic-light-color);
}

.detail:active,
.search-form-button:active,
.social-network-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-dark-color);
}

.booking:hover,
.search-of-hotel-button:hover {
  background-color: var(--dark-color);
}

.booking:active,
.search-of-hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--dark-dark-color);
}

.social-network-svg {
  fill: var(--basic-white);
}

.social-network-link:active .social-network-svg {
  fill: rgba(255, 255, 255, 0.3);
}

.stars {
  width: 91px;
  height: 17px;
  background-color: transparent;
  background-image: url(img/star.svg);
  background-repeat: no-repeat;
}

.hotels .rating {
  color: #666666;
  width: 110px;
  height: 27px;
  background-color: var(--special-light-color);
}

.developers:hover {

}

.developers:active {

}
